@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import '/scss/variables.scss';

* {
  box-sizing: border-box;
  font-family: 'DM Mono', monospace;
  font-size: $main-fs;
  color: $main-fg;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  background: $main-bg;
}

label {
  color: $label-fg;
}

input {
  padding: $small-pd;
  border: 1px solid transparent;
  border-radius: $main-br;
  outline: none;
}

input:focus {
  border: 1px solid #FFFFFFAA;
}

input[type=text] {
  color: $main-fg;
  background: $input-bg;
}

button, input[type=submit] {
  color: $btn-fg;
  background: $btn-bg;
}

button:not([disabled]):hover, input[type=submit]:not([disabled]):hover {
  color: $btn-hv-fg;
  background: $btn-hv-bg;
}

input[disabled] {
  opacity: 50%;
}

input.error, button.error {
  border: 1px solid red;
}

.error-message {
  margin-top: 12px;
  color: red;
  font-size: 14px;
}
