// PADDING
$small-pd: 8px;
$main-pd: 16px;

// BORDER RADIUS
$main-br: 4px;

// FOREGROUND COLOR
$lvl0-fg: #707070;
$main-fg: #999999;
$btn-fg: #AAAAAA;

// BACKGROUND COLORS
$lvl0-bg: #111111;
$main-bg: #222222;
$btn-bg: #444444;
$lvl1-bg: #333333;

// FONT SIZE
$main-fs: 18px;
