// PADDING
$small-pd: 8px;
$main-pd: 16px;

// BORDER RADIUS
$main-br: 4px;

// FOREGROUND COLOR
$error-fg: #FF2222;
$main-fg: #999999;
$label-fg: #AAAAAA;
$btn-fg: #AAAAAA;
$btn-hv-fg: #CCCCCC;

// BACKGROUND COLORS
$input-bg: #111111;
$main-bg: #222222;
$lvl1-bg: #333333;
$btn-bg: #555555;
$btn-hv-bg: #666666;

// FONT SIZE
$main-fs: 18px;
